<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SomeConnectionStringName" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=MyDatabase; Integrated Security=SSPI;" />
    <add name="Empty" providerName="System.Data.SqlClient" connectionString="" />
    <add name="NoProviderName" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=MyDatabase; Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>